<html lang="en">
<head>
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous" ></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.4/css/bulma.min.css" integrity="sha512-yh2RE0wZCVZeysGiqTwDTO/dKelCbS9bP2L94UvOFtl/FKXcNAje3Y2oBg/ZMZ3LS1sicYk4dYVGtDex75fvvA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<!--{% extends "layout.html" %}-->
<!--{% block content %}-->

<ul>
  {% for message in messages %}
  <li>
    <span><strong>{{ message }}</strong></span>
  </li>
  {% endfor %}
</ul>

<form method="post">
  <fieldset>
    <legend>User login</legend>
    <p>
      <label for="username">Username</label>
      <input name="username" id="username" />
    </p>
    <p>
      <label for="password">Password</label>
      <input name="password" id="password" type="password" value="" />
    </p>
  </fieldset>

  <input type="submit" value="login" />

  {% if let Some(next) = next %}
  <input type="hidden" name="next" value="{{next}}" />
  {% endif %}
</form>

<!--{% endblock %}-->

</body>
</html>